.vscode/**
.vscode-test/**
test/**
src-webview/**
*.vsix
node_modules
out/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/webpack.config.js
**/tsconfig.json
**/tsconfig.*.json
**/.eslintrc.json
**/*.map
**/*.ts

scripts/**
!scripts/uninstall.cjs

server/**
!server/sccharts-lite-server.jar
!server/runtime-manifest.json
!server/jre/**

dist/**
!dist/extension.js
!dist/extension.js.LICENSE.txt
pack/**
!pack/webview.js
!pack/webview.js.LICENSE.txt
!pack/*.ttf
